@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

html, body {
    margin: 2rem;
}

html {
    display: flex;
    place-content: center;
}

body {
    font-family: 'PT Mono', monospace;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.square {
    height: 20px;
    width: 20px;
    /* border: 1px solid black; */
}

.square span {
    margin-left: 4px;
    font-size: xx-small;
    color: rgba(0, 0, 0, 0.5)
}

.snake {
    background: darkmagenta;
}

.apple {
    background: green
}